:root {
    --bg: #010103;
    --main-color: #d3ad7f;
    --order: #303030;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    font-family: "Roboto", serif;
    margin: 0;
    display: flex;
    flex-direction: column; /* Organiza tudo em coluna inicialmente */
    padding: 20px;
}

/* Estilos para o título */
h1 {
    text-align: center;
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}

.back-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    color: var(--main-color);
    cursor: pointer;
    text-decoration: none;
}

/* Estilos para o container principal */
.container {
    display: flex;  /* Organiza galeria e painel lado a lado */
    justify-content: space-between;  /* Espaço entre os elementos */
    gap: 20px;
}

/* Estilos para a galeria de fotos */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1; /* A galeria ocupa o restante da largura */
    align-items: flex-start;
}

.gallery-item {
    width: 180px;
    text-align: center;
    margin-bottom: 20px;
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.gallery-item .name {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 5px;
}

.gallery-item .price {
    color: #888;
    font-size: 14px;
}

/* Estilos para a tela de pedidos */
.order-panel {
    width: 300px; /* Largura fixa para o painel de pedidos */
    padding: 20px;
    background: var(--order);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.order-panel h2 {
    margin: 0 0 20px;
    font-size: 24px;
    color: var(--main-color);
}

.order-panel .content {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
}

.order-panel .payment-method {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.order-panel .payment-method span {
    color: #007BFF;
}

.order-panel .make-order {
    background-color: var(--main-color);
    cursor: pointer;
    margin-top: 2rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    padding: 0.2rem 1rem;
    border: none;
}